<div class="row">
	<% @eventos.each do |e| %>
		<div class="col s6">
	      <div class="card">
	        <div class="card-image card-image-petite">
       		 <% if e.image.attached? %>
				<%= image_tag e.image.variant(resize: "600x600").processed %>
			 <% else %>
	         	<%= image_tag 'default-image.jpg', size:"600x600" %>
	         <% end %>
	          <span class="card-title"><%= e.comuna.nombre %></span>
	          
	          
	          	<a class="btn-floating halfway-fab waves-effect waves-light <%= e.pertenece_to_user(current_user) ? 'green' : 'red' %>" href="<%= evento_path(e) %>"><i class="material-icons"><%= e.pertenece_to_user(current_user) ? 'edit' : 'add' %></i></a>
	          
	        </div>
	        <div class="card-content">
	          	<%= raw truncate(e.descripcion, length:40, omission: "...") %>
	        </div>
	      </div>
		</div>
	<% end %>
</div>    