 <nav>
	<div class="nav-wrapper #000000 black">
	  <%= image_tag 'Flag_of_the_Mapuches.svg', class: 'logo brand-logo' %>
	  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	  <ul class="right hide-on-med-and-down">
	    <li><%= link_to "Inicio",root_path %></li>
	    <% if user_signed_in? %>
	    	<li><%= link_to "Cerrar Sesion",destroy_user_session_path, method: :delete %></li>
	    <% else %>
	    	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
	    <% end %>
	    <li><%= link_to "Eventos", eventos_path %></li>
	    <li><a href="collapsible.html">Javascript</a></li>
	    <li><a href="mobile.html">Mobile</a></li>
	  </ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><%= link_to "Inicio",root_path %></li>
	<li><%= link_to "Eventos", eventos_path %></li>
	<% if user_signed_in? %>
    	<li><%= link_to "Cerrar Sesion",destroy_user_session_path, method: :delete %></li>
    <% else %>
    	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
	<% end %>
	<li><a href="collapsible.html">Javascript</a></li>
	<li><a href="mobile.html">Mobile</a></li>
</ul>