 <nav>
	<div class="nav-wrapper #000000 black">
	  <%= image_tag 'Flag_of_the_Mapuches.svg', class: 'logo brand-logo' %>
	  <a href="#" data-target="mobile-demo" class="sidenav-trigger" id="mobile-btn"><i class="material-icons">menu</i></a>
	  <ul class="right hide-on-med-and-down">
	    <li><%= link_to "Inicio",root_path %></li>
	    <% if user_signed_in? %>
	    	<li><%= current_user.email %></li>
	    	<li><%= link_to "Cerrar Sesion",destroy_user_session_path, method: :delete %></li>
	    <% else %>
	    	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
	    <% end %>

	   <% if user_signed_in? %>
	    <% if current_user.admin? %>
	    	<li><%= link_to "Eventos", eventos_path %></li>
	    <%  else %>
	    	<% if with_evento? %>
	    		<li><%= link_to "Tu Evento", evento_path(current_user.evento) %></li>
	    	<% else %>
	    		<li><%= link_to "Crea Tu Evento", new_evento_path %></li>
	    	<% end %>
	    <% end %>
	   <% end %> 
	  </ul>
	</div>
</nav>

<ul class="sidenav" id="mobile-demo">
	<li><%= link_to "Inicio",root_path %></li>
	<% if user_signed_in? %>
    	<li><%= link_to "Cerrar Sesion",destroy_user_session_path, method: :delete %></li>
    <% else %>
    	<li><%= link_to "Iniciar sesión", new_user_session_path %></li>
	<% end %>
	<% if user_signed_in? %>
	    <% if current_user.admin? %>
	    	<li><%= link_to "Eventos", eventos_path %></li>
	    <%  else %>
	    	<% if with_evento? %>
	    		<li><%= link_to "Tu Evento", evento_path(current_user.evento) %></li>
	    	<% else %>
	    		<li><%= link_to "Crea Tu Evento", new_evento_path %></li>
	    	<% end %>
	    <% end %>
	<% end %> 
</ul>

<script>
	$(document).ready(function(){
     $('.sidenav').sidenav();
  	});
</script>