 <h5>Olla Común</h5>

<div class="container">

	<div class="input-field col s12">
		<select id="region" name="region" onchange="ShowSelectedRegion();">
			<option value="" disabled selected></option>
		  <% @regiones.each do |r| %>
			    <option value="<%= r.id %>"><%= r.nombre %></option>
		  <% end %>
		</select>
		<label>Seleccione Region</label>
	  </div>

	 <div class="input-field col s6">
		<select id="comuna" name="comuna" onchange="ShowSelectedComuna();">
		  <option value="" disabled selected></option>
		  <% @regiones.each do |r| %>
		  	<optgroup label="<%= r.nombre %>">
		  		<% r.comunas.each do |c| %>
			    	<option value="<%= c.id %>"><%= c.nombre %></option>
			    <% end %>
		  	</optgroup>
		  <% end %>
		</select>
		<label>Seleccione Comuna</label>
		<div class="col s6 center-align">
      		<a class="btn-floating btn-large cyan pulse" href="<%= home_index_path %>" id="search"><i class="material-icons">search</i></a>
      	</div>
	 </div>
	</div>
</div>

<section>
	<% if @comuna.present? %>
		<div class="container">
       		<p><%= @cantidad %><%= @cantidad == 1 ? ' Registro encontrado' : ' Registros encontrados' %> en la comuna de : <%= @comuna.nombre.capitalize %> , Region : <%= @comuna.region.nombre.capitalize %> </p>
       	</div>
    <% end %>
	<%= render 'shared/eventos' , evento: nil %>	
</section>

 <script>
 	$(document).ready(function(){
     $('select').formSelect();
  	});

 	function ShowSelectedRegion(){
		var region = parseInt(document.getElementById("region").value);
	 	$.ajax({
	      type: 'GET',
	      url: "<%= home_change_region_path %>",
	      dataType: "script",
	      data: {region_id: region}
	    });
 	}

 	function ShowSelectedComuna(){
 		var comuna = parseInt(document.getElementById("comuna").value);
 		$('#search').attr("href","<%= home_index_path + '?search='%>" + comuna);
 	}
 </script>

