<div class="container">
  <%= form_with(model: evento, local: true) do |form| %>
    <% if evento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

        <ul>
        <% evento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="input-field">    
      <i class="material-icons prefix">navigate_next</i>
      <select id="comuna" name="comuna">
      <% if evento.comuna_id.nil? %>
        <option value="" disabled selected></option>
      <% end %>
      <% Region.all.each do |r| %>
        <optgroup label="<%= r.nombre %>">
          <% r.comunas.each do |c| %>
            <% if evento.comuna_id.nil? %>
              <option value="<%= c.id %>"><%= c.nombre %></option>
            <% else %>
              <option value="<%= c.id %>" <%= evento.comuna_id == c.id ? 'selected' : '' %>><%= c.nombre %></option>
            <% end %>
          <% end %>
        </optgroup>
      <% end %>
      </select>

      <label>Seleccione Comuna</label>
      <%= form.hidden_field :comuna_id %>  
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :organizacion %>
      <%= form.text_field :organizacion %>  
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :encargado %>
      <%= form.text_field :encargado %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :direccion %>
      <%= form.text_field :direccion %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :dias_horarios %>
      <%= form.text_area :dias_horarios %>
    </div>

    <div class="input-field">
      <i class="material-icons prefix">navigate_next</i>
      <%= form.label :organizador %>
      <%= form.text_field :organizador %>
    </div>
    
      <div class="input-field">
        <div class="row">
          <div class="col s12">
            <div class="custom-file">
              <i class="material-icons prefix">navigate_next</i>
              <%= form.label :image %><br>
              <%= form.file_field :image %>
            </div>
          </div>
          <div class="col offset-s6 s3">
            <br>
            <% if evento.image.attached? %>
              <%= image_tag evento.image.variant(resize: "100x100").processed, id:"image_evento" %>
            <% end %>
          </div>
          <div class="col s3" id="image_evento_btns">
            <% if evento.image.attached? %>
              <%= link_to '<i class="material-icons">delete</i>'.html_safe, delete_image_path(evento, format: :js), class: 'btn-floating btn-large red pulse', method: :post, remote: true, data: { confirm: 'Are you sure?' } %>
              <label>Quitar Imagen</label>
            <% end %>
          </div>
        </div>
      </div>
    

    <div class="actions">
      <div class="row">
        <div class="col s12 center">
          <%= form.submit "Guardar" %>
        </div>
      </div>
    </div>

  <% end %>
</div>

<script>
  $(document).ready(function(){
     $('select').formSelect();
     M.updateTextFields();
     document.getElementById('comuna').addEventListener('change',ShowSelectedComuna,false);
     function ShowSelectedComuna(){
      var comuna = parseInt(document.getElementById("comuna").value);
      $('#evento_comuna_id').attr("value",comuna);
     }
    });
</script>
