
<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Comuna</th>
      <th>Descripcion</th>
      <th>Organizacion</th>
      <th>Encargado</th>
      <th>Direccion</th>
      <th>Dias horarios</th>
      <th>Organizador</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.comuna %></td>
        <td><%= evento.descripcion %></td>
        <td><%= evento.organizacion %></td>
        <td><%= evento.encargado %></td>
        <td><%= evento.direccion %></td>
        <td><%= evento.dias_horarios %></td>
        <td><%= evento.organizador %></td>
        <td><%= evento.photo %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
